html, body {
    height: 100%;
    margin: 0;
}

.GameTable{
   width: 100%;
    height: auto;
    background-color: rgb(26 96 5);
    border: 22px inset #6F4A4A;
 }

 .tittleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
 }

 .GameOptionsContainer{
   /* From https://css.glass */
   width: 70%;
   margin: auto;
   background: rgba(255, 255, 255, 0.05);
   border-radius: 16px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(4.9px);
   -webkit-backdrop-filter: blur(4.9px);
   border: 1px solid rgba(255, 255, 255, 0.8);
 }

 .BlackJackTittle{
    color: white;
    padding: 5px;
 }

 .CrupierContainer, .PlayerContainer{
   margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }



 .ResetDeckContainer, .ResetHandContainer{
   display: flex;
   justify-content: center;
   width: 400px;
 }

 .PlayerCardsContainer, .CrupierCardsContainer, .GameOptionsContainer{
   display: flex;
   justify-content: center;
 }

 .CardContainer{
    border: 2px solid yellow;
    width: 151px;
    height: 240px;
    margin-left: 5px;
    margin-right: 5px;
 }

 .CardAddContainer, .AddPlayerContainer{
    border: 2px dashed yellow;
    color: yellow;
    width: 140px;
    height: 240px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .StrategyContainer, .TableStateContainer, .WinPercentageContainer{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 50px;
   width: 400px;
 }
 
 .bi-plus-lg{
    font-size: 60px;
    color: yellow;
 }

 .imageContainer{
   width: 61px;
   transition: transform .4s ease;
 }

.imageContainer:hover{
   transform: translateY(-5px);
}

.RolTittle {
   color: white;
   padding-top: 10px;
   padding-bottom: 10px;
}

.WinAmountTittle, .BetTittle{
   color: yellow;
   margin-right: 5px;
}